/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
html .container {
  font-size: 1.6rem;
  width: 70%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}
html .container header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
html .container header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
}
html .container header nav a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0 0 0 1.5rem;
  padding: 2rem 0 2rem 2rem;
  color: black;
}
html .container header .top-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4rem 3rem;
  background: #aacfd0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
html .container header .top-header img {
  height: 30%;
  width: 45%;
  margin-top: 4rem;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}
html .container header .top-header h1 {
  font-size: 7rem;
  padding: 2rem 0;
}
html .container header .top-header p {
  font-size: 2rem;
}
html .container header .top-header .underline {
  width: 99.5%;
  align-self: center;
  border-bottom: 1px solid #e8e7e7;
  margin-top: 2rem;
}
html .container header .bottom-header {
  padding: 3rem 3rem;
  background: #aacfd0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2rem;
}
html .container header .bottom-header button {
  padding: 1rem 2rem;
  border: 0;
  color: white;
  background: #696969;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  outline: none;
}
html .container section {
  width: 90%;
  margin: 0 auto;
}
html .container section .top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
html .container section .top-section .top-section-div {
  width: 48%;
}
html .container section .top-section .top-section-div h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
html .container section .top-section .top-section-div h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
html .container section .top-section .top-section-left {
  display: flex;
  flex-direction: column;
}
html .container section .top-section .top-section-left p {
  line-height: 2.4rem;
}
html .container section .top-section .top-section-right-div {
  width: 100%;
  border: 1px solid #e8e7e7;
  padding: 1.2rem;
}
html .container section .bottom-section {
  display: flex;
  flex-direction: column;
}
html .container section .bottom-section h3 {
  font-size: 2.5rem;
}
html .container section .bottom-section div {
  display: flex;
  padding: 1rem 0;
  border-top: 1px solid #e8e7e7;
}
html .container section .bottom-section div span {
  width: 25%;
  padding-left: 2rem;
}
html .container section .bottom-section .table-head {
  font-weight: bold;
  border-top: 1px solid #e8e7e7;
  margin-top: 1rem;
}
html .container section .bottom-section .dark-bg {
  background: #e0e0e0;
}
html .container footer {
  width: 95%;
  margin: 3rem auto 0 auto;
  text-align: center;
  color: white;
  background: #696969;
  padding: 3rem;
}
